{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

  
  <div id="slider">
    <figure>
     <img src="{{asset('/images/panne1.jpeg')}}" alt>
     <img src="{{asset('/images/service.jpg')}}" alt>
    </figure>
 </div>

<!--contenu-->
<div class="para">
      <h2>Présentation de notre service</h2>
      <div class="ps">
        <a href="{{path('remorquage')}}"><img src="{{asset('/images/elyes1.jpg')}}" alt></a>
        <a href="{{path('mecancien')}}"><img src="{{asset('/images/gagiste.jpeg')}}" alt></a>
        
      </div>
      <div class="row"></div>
      <div class="col-lg-12 col-md-10 col-sm-4  phrse">
       <p >Les dépannages et remorquages répondent aux normes de sécurité les plus élevées.
        Les dépanneuses utilisées sont toutes ultra modernes et assurent ainsi rapidité et fiabilité.
        Les services de qualités proposés par ADS ne se limitent pas au dépannage et au remorquage. <br> Vous pouvez profiter des services de gardiennage en toute sécurité. Le garage d’ADS prend également en charge les réparations ou l’entretien de votre auto. Vous pouvez ainsi pratiquement, profiter du service de gardiennage pour que les mécaniciens s’occupent pendant ce temps de votre véhicule.
        Autre corde à son arc, la société ADS s’occupe aussi du transport de marchandises avec célérité.
        La société ADS comme partenaire, c’est une relation de qualité et de confiance qui est là quand vous en avez besoin où que vous vous trouviez.</p>
     </div>
</div>
</div>
  

  <!--Images-->
  
  <div class=" dark mb-0 border-bottom-0n blue">
    <div class="container clearfix">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6">
          <div class="block p-10 white mt-2 center centerjust">
            <h1>DES SERVICES DE DÉPANNAGE RAPIDES ET DE QUALITÉ PAR UNE EQUIPE DE PROFESSIONNELS DE
              LA
              ROUTE.</h1>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 col-md-6 adsban1">
          <img src="{{asset('images/ads.jpeg')}}" alt="carBanner1" style="position: absolute; height:100%;
          width: auto;">
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="mt-2"></div>
 
  <div class="section p-0 dark mb-0 dep" style="background: linear-gradient(to right, rgba(25,102,221,0.2), rgba(255, 255, 255, 0)), url(images/all/home/adsbanner311.jpg) no-repeat center center / cover;min-height: 400px;">
    <div class="container">
      <div class="row mb-4 dep1" style="padding: 100px 0 160px; text-align: center;">

        <div class="col-sm-12 col-lg-7 blocktrans" style="margin-left: auto;margin-right:auto;">
          <h2>DÉPANNAGE REMORQUAGE DE VÉHICULES AU GABON</h2>
          <p class="mb-5">Vous visionnez immédiatement les dépanneuses
            dans les environs. <br>
            Vous communiquez avec les services de la société qui
            reçoit votre appel de détresse, par le biais de l’application.</p>

        </div>
      </div>
    </div>
    <div class="clear"></div>
    <svg class="svg-curve" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 1463 188.03">
      <path style="fill:#FFF;" d="M-.5,288.5s297-175,792-97,599,52,671,25v143H-.5Z" transform="translate(0 -171.47)">
      </path>
    </svg>
  </div>


  <div class="container clearfix">
    <div class="row align-items-center">
      <div class="col-md-7 center centerjust">
        <div class="block">
          <h2>ASSISTANCE AUTOMOBILE POUR UN DÉPANNAGE SUR PLACE OU UN RAPATRIEMENT EN CAS DE PANNE</h2>
        </div>

        <p>Les pannes, nous n’en souhaitons à personne. Mais si cela vous arrivait, vous pouvez compter
          sur nous. Qu’il s’agisse
          d’une batterie à plat, d’un pneu endommagé, d'une crevaison, d’un verrouillage de véhicule
          ou d’un accident : nous vous
          assistons quoi qu’il arrive.
        </p>
      </div>
      <div class="col-md-5 small">
        <img data-animate="fadeInRight" src="{{asset('images/card2.png')}}" alt="Car" style=" height: 245px;
        width: auto;">
      </div>
    </div>


  </div>
  <div class="clearfix blue ">
    <div class="container ">
      <div class="row align-items-center reverserow center">
        <div class="col-md-5 mt-6 small">
          <img data-animate="fadeInLeftBig" src="{{asset('images/card3.png')}}" alt="Car" style=" height: 245px;
          width: auto;">
        </div>
        <div class="col-md-7 centerjust">
          <div class="block">
            <h2>NOS DÉPANNEURS AGRÉÉS VOUS AIDERONT EN CAS D'IMMOBILISATION</h2>
          </div>

          <p>Si votre véhicule est embourbé ou immergé, la société de dépannage prendra en charge son
            remorquage pour l’amener dans
            les ateliers de réparation le cas échéant.
          </p>
        </div>

      </div>
    </div>
  </div>

<!--contenu-->
   
   
   
    <script src="{{ asset('js/jquery.slim.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>

    <script src="{{ asset('js/index.js')}}"></script>
    
    <style>
      .para{
        padding: 60px;
        background-color: darkgrey;
      }
 h2{
   text-align: center;
   padding-top: 30px;
   text-shadow: 2px 2px;
   font-size: 0px;
  }
  @media only screen and (min-width: 640px) {
    .phrse {
      display: flex;
      padding-top: 0px;
 


    margin-left: 20px;
    margin-right:20px;
 
  }
}  
   
    
    
    
    
    
      /**contenu*/
      @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }
        
        body { margin: 0; } 
        div#slider { overflow: hidden; }
        div#slider figure img { width: 20%; float: left; }
        div#slider figure { 
          position: relative;
          width: 500%;
          margin: 0;
          left: 0;
          text-align: left;
          font-size: 0;
          animation: 30s slidy infinite; 
        }
        
    </style>
{% endblock %}
