{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<br>
<br>
<div class="container">
<section class="form">

<div class="row">



        <div class="col"> </div>
          <div class="col-6" >

          {{form_start(demandeForm)}}
         



        <div class="mb-3">
            
            {{form_row(demandeForm.service,{'attr':{'class':'form-control'}})}}
        </div>



         <div class="mb-3">
          
            {{form_row(demandeForm.typevoiture,{'attr':{'class':'form-control'}})}}
        </div>
          <div class="mb-3">
          
            {{form_row(demandeForm.altitude,{'attr':{'class':'form-control'}})}}
        </div>
          <div class="mb-3">
          
            {{form_row(demandeForm.longitude,{'attr':{'class':'form-control'}})}}
        </div>
        



         <div class="mb-3">
          
            {{form_row(demandeForm.dateajout|date("F jS \\a\\t g:ia"),{'attr':{'class':'form-control'}})}}
        </div>
        {{form_end(demandeForm)}}

          </div>
          <div class="col"></div>
        </div>

    </div>
</section>
{% endblock %}
